/* --- Zach Wemhoff --- */
body {
  background: #EDEEF2;
}

/* --- Header --- */
header {
  background-color: #192A75;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 300px 100px;
  color: #f9e5af;
  font-family: Georgia, Palatino, 'Century Schoolbook', serif;
  font-size: 60px;
  height: 75px;
  padding: 10px;
}

h1 {
  font-size: 26px;
  font-family: arial,sans-serif;
  text-align: center;
}

article {
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

table, th, td {
  border: 1px solid black;
  width: 100%;
}

#summary {
  font-size: 18px;
}

#funfact{
  font-size:  20px;
  text-decoration: underline;
  text-decoration-color: #9DAFFF;
}

.odd_heading{
  color: #192A75;
}

.even_heading{
  color:  #232324;
}


/* --- Nav Bar --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #707173;
  font-size: 20px;
  font-family: arial, sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 26px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #BEBFC2;
}
